<h2>Hello ADA World!</h2>
<h3>Login:</h3>
<%= form_for :session_data, url: sessions_path do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <br>
  <br>
  <%= f.submit "Sign In" %>
<% end %>
