<h1>Update a Contact</h1>
<%= form_for @person, url: {action: "update"} do |f| %>
  <fieldset>
    <legend> <%= @legend %></legend>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :email %>
    <%= f.text_field :email %>

  </fieldset>
  <%= f.submit("Save Changes") %>
<% end %>
<%= link_to "Back to List of Company Contacts", companies_path %>
