<h1><%= @company.name %></h1>
<ul>
  <li>Address: <%= @company.location %></li>
  <li>Description: <%= @company.description %></li>
  <li> Website: <%= link_to @company.website, "#{@company.website}" %></li>
</ul>

<ul>
  <li><%= link_to "Edit Company", "/companies/#{@company.id}/edit" %></li>
  <li><%= link_to "Delete Company", "/companies/#{@company.id}", :method => :delete,
      data: { confirm: "Are you sure you want to delete this company?"} %></li>
  <li><%= link_to "View People Associated With This Company", company_people_path(params[:id]) %></li>
  <li><%= link_to "Back to List of Companies", companies_path %></li>
</ul>
